<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/dashboard">My products</a>
    <a style="float:right" href="/logout">Log Out</a>
</div>

<h3>Add product</h3>

<div class="add-product"></div>
  <form action="/dashboard/new" method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br>
    <label for="condition">Condition:</label>
    <input type="text" id="condition" name="condition">
    <br>
    <label for="userEmail">Email:</label>
    <input type="text" id="userEmail" name="userEmail">
    <br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address">
    <br>
    <label for="price">Price (EUR):</label>
    <input type="number" id="price" name="price">
    <br>
    <select name="categories">
    {{#each categories}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    
    <br>
    <label for="photo">Photo: </label>
    <input type="file" name="photo" id="photo">

    <button type="submit">Submit</button>
    </form> 
  {{#if message}}
  <h1>{{message}}</h1>
  {{/if}}
