<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a style="float:right" href="/logout">Log Out</a>
    <a href="/login">Log In</a>
</div>
<div class="login-page">
  <form action="/login" method="POST">
    <label for="username"><b>Username</b> </label>
    <input type="text" name="username" onfocus="this.placeholder=''" placeholder="Enter Username" id="username" >
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password" id="password">
    <button class='login' type="submit">Login</button>
    {{#if errorMessage}}
    <div class="alert">
      <span class="closebtn">{{errorMessage}}</span>
    </div>
    {{/if}}
    

    <button class='google-login' type="submit"><a
        href="https://accounts.google.com/servicelogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin">Login
        with Google</a></button>

  </form>
</div>