<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a style="float:right" href="/logout">Log Out</a>
    <a style="float:right" href="/login">Log In</a>
</div>

<div class="sign-up">
  <form action="/signup" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder=" Enter Username" id="username">
    <label for="fullname"><b>Your Name</b></label>
    <input type="text" name="fullname" placeholder=" Enter Fullname" id="fullname">
    <label for="email"><b>Email</b></label>
    <input type="text" name="email" placeholder=" Enter Email" id="email">
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter password" id="password">
    <button type="submit">SIGN UP</button>
   
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  {{#if message}}
    <p>{{message}}</p>
    {{/if}} 
    </div>
     

  </form>
</div>
