body {
  padding: 5px 200px;
  font: normal 14px Verdana, Arial, sans-serif;
}

h1 {
  color: rgb(55, 0, 255);
}

h2 {
  color: red;
}
h3 {
  text-align: center;
  padding: 0;
}
h4 {
  text-align: center;
}

/*header*/
.header {
  background-color: rgb(243, 243, 105);
  padding: 0;
  margin: 0;
  text-align: center;
}

.header img {
  float: left;
  height: 58px;
  width: 68px;
  margin: 0;
  padding: 0;
}

.header-title {
  color: rgb(68, 66, 66);
  font-size: 50px;
  margin: 0;
  padding: 0;
}

/*sticky-nav-search-bar*/
.sticky-nav-searchbar {
  position: -webkit-sticky;
  position: sticky;
  /* overflow: auto; */
  /* position: fixed; */
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: solid yellowgreen;
}

.topnav {
  background-color: rgb(47, 105, 76);
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color:  rgb(68, 66, 66);
  color: white;
}

.topnav a:hover {
  background-color:  rgb(243, 243, 105);
  color: rgb(68, 66, 66);
}

/*search form for products*/
.search-form form {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #cae8ca;
  overflow: hidden;
}

.search-form button {
  color: rgb(68, 66, 66);
  text-align: center;
}

.search-form button:hover {
  color: white;
  background-color: rgb(68, 66, 66);
}


.category-search {
  border: red;
}
.categoryList button {
  margin: 0;
  padding: 0;
  color: red;
}

/*products on index.hbs*/
.all-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  /* border:solid rgb(55, 0, 255); */
  margin-top: 50px;
}

.img-product {
  border: solid rgb(243, 243, 105);
  border-radius: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.img-product img {
  width: 180px;
  height: 150px;
  padding: 5px;
}

.product-title {
  font-size: 18px;
  color: rgb(68, 66, 66);
  margin: 0;
  padding: 0px 10px 5px 5px;
}

.price-tag {
  font-size: 12px;
  margin: 0;
  padding: 0px 10px 5px 5px;
  color: rgb(68, 66, 66);
}

.img-product a {
  padding: 0px 10px 5px 5px;
}

.img-product p{
  color: rgb(194, 93, 11);
  margin: 5px;
  font-size: 15px;
}

/* dashboard.hbs
.dashboard-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.edit-dashboard  {
  border: solid rgb(243, 243, 105);
  border-radius: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.edit-dashboard img {
  width: 150px;
  height: 100px;
  padding: 0px;
} */
/* .delete-product-btn {
  color: inherit;
  background-color: rgb(47, 105, 76);
  border: none;
  margin: 0;
  padding: 0;
}
.delete-product-btn a:hover {
  background-color:  rgb(243, 243, 105);
  color: rgb(68, 66, 66);
} */


/*login*/
.login-page {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-top: 70px;
}
.login-title {
  color: rgb(68, 66, 66);
  font-size: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.alert {
  padding: 5px;
  background-color: rgb(243, 243, 105);
  color: rgb(47, 105, 76);
}
.closebtn {
  margin-left: 15px;
  color: red;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: default;
}

.login-page form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.login-page input[type=text],
input[type=password] {
padding: 10px;
margin: 10px 5px;
display: inline-block;
border: 3px solid  rgb(243, 243, 105);
box-sizing: border-box;
}

.sign-up {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-top: 70px;

}

.sign-up input[type=text],
input[type=password] {
padding: 10px;
margin: 10px 5px;
display: inline-block;
border: 3px solid  rgb(243, 243, 105);
box-sizing: border-box;
}
.sign-up form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

/*style add product form*/
.add-product {
  font-style: normal;
  background-color: rgb(243, 243, 105);
}
.add-product input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}
.add-product input[type=submit] {
  background-color: rgb(47, 105, 76);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.add-product input[type=submit]:hover {
  background-color: rgb(206, 119, 20);
  color: white;
}

.show-card {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-top: 50px;
justify-content: space-around;
align-items: center; 
padding: 0;
background-color: rgb(248, 244, 244)
}
.show-card img {
  height: 200px;
  margin: 5px;
}
.show-card h2 {
  color: rgb(194, 93, 11);
  /* padding: 15px; */
  margin: 15px;
}

.show-card p {
  padding: 5px;
  margin: 0;
} 
.description {
  padding: 0px 120px 0px 120px;
}

.category-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  margin-top: 20px;
}
.product-title {
  font-size: 18px;
  color: rgb(68, 66, 66);
  margin: 0;
  padding: 0px 10px 5px 5px;
}

.edit-delete-btn {
  background-color: rgb(206, 119, 20);
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.edit-delete-btn:hover {
  background-color:  rgb(243, 243, 105);
  color:rgb(68, 66, 66);
}

.more-details-btn {
  background-color:rgb(47, 105, 76); 
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.more-details-btn:hover {
  background-color:  rgb(243, 243, 105);
  color:rgb(68, 66, 66);
}
