{{!-- <h1>LOGIN</h1> --}}
<form action="/login" method="POST">
  <label for="username"><b>Username</b> </label>
  <input type="text" name="username" placeholder="Enter Username" id="username">
  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="Enter Password" id="password">
  <button class='login' type="submit">LOGIN</button>
</form>
{{#if message}}
  <p>{{message}}</p>
{{/if}}
</div>